form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    padding: 80px;
    max-width: 85vw;
}

form h2 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

form input {
    padding: 15px;
    background-color: rgba(0, 0, 0, .1);
    border: none;
    font-size: .9em;
    outline: none;
}

form input[type=submit] {
    background: linear-gradient(90deg, rgba(67,184,255,1) 0%, rgba(0,73,167,1) 100%);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
form input[type=submit]:hover {
    opacity: .8;
}

@media only screen and (max-width: 712px) {
    form {
        padding: 50px;
    }
}